/* App.css */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .carousel-container {
    width: 80%;
  }
  
  .carousel-card {
    transition: all 0.5s ease;
    transform: scale(0.7);
    opacity: 1;
  }
  
  .carousel-card.center {
    transform: scale(0.9);
    opacity: 1;
  }

  /* Responsive styles */
@media (max-width: 464px) {
    .carousel-card.center {
        transform: scale(1);
    }
  }